.map{
    background-image: url("../map_image.jpg");
  
    height:40vh;
margin:5px 0;
}
.avatar1{
    background-image: url("../map_image.jpg");
    height: 100px;
    width: 100px ;
    border-radius: 50%;
    margin: 3px;
}
.avatar2{
    background-image: url("../man.jpg");
    height: 100px;
    width: 100px ;
    border-radius: 50%;
    margin: 3px;
}
.header{
    display: flex;
    justify-content: space-between;
}