
.box{
    margin-left: 2px;
    padding: 1px 4px;
    border-radius: 2px;
    background-color: #fff;
    color:rgb(0, 0, 0);
    font-size:0.7rem;
}
.card{
    width: 100%;
    display: flex;
    height: 150px;
}
.image {
    width: 150px;
    height: 150px;
 object-fit: fill;
  }
  .img{
      height: 100%;
      width: 100%;
  }
  .section{
      display: flex;
      flex-direction: column;
      align-items:start;
      justify-content: center;
      margin: 1rem;
  }
  .div{
      margin: 2px 0;
      padding: 2px;
      background-color:#28A745;
      color:white;
      letter-spacing: 2px;
      font-size:0.6rem;
      font-weight: 500;
      border-radius: 4px;
  }
  .divtext{
    margin: 2px 0;
    color:rgb(22, 21, 21);
    font-size:0.8rem;
    font-weight: 400;
}
.text{
    margin: 2px 0;
    color:rgb(7, 7, 7);
    font-size:0.8rem;
    font-weight: 700;
}
.iconflex{
    display: flex;
    align-items: center;
}
.fav{
    margin: 2px 0;
    color:rgb(22, 21, 21);
    font-size:0.8rem;
    font-weight: 400; 
    margin-left: 5px;
    vertical-align: middle;
}
.map{
    height:40vh;
    margin: 3px 0;
    background-image: url("../map_image.jpg");
  
}